.ebc-board-container {
  position:relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.ebc-header__fixed {
  & + .ebc-board-container {
    width: 100vw;
    margin-top: $ebc-header-height;
  }
}
