.ebc-category {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #b3b3b3;

  &__label {
    padding-left: 25px;
    max-width: 75px;
  }
}
