@import "ebc-variables";
@import "ebc-header";
@import "ebc-header-cell";
@import "ebc-column";
@import "ebc-board-container";
@import "ebc-category";
@import "ebc-card";
@import "ebc-simple-card";


.ember-cli-board-calendar {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  overflow: auto;
  border: solid 1px red;
}
