@import "ebc-variables";
@import "ebc-header";
@import "ebc-header-cell";
@import "ebc-column";
@import "ebc-board-container";
@import "ebc-category";
@import "ebc-card";
@import "ebc-simple-card";


.ember-cli-board-calendar {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}
