@import "ebc-variables";
@import "ebc-header";
@import "ebc-header-cell";
@import "ebc-column";
@import "ebc-board-container";
@import "ebc-category";
@import "ebc-card";
@import "ebc-simple-card";


.ember-cli-board-calendar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100vw;
  overflow: auto;
  overflow-y: hidden;
}
