{{#each categories as |category|}}
  {{ebc-category
    category=category
    boardActions=boardActions
  }}
{{/each}}

{{#unless loading}}
  <div class="ebc-columns-container">
    {{log columns.length "COLUMNAS"}}
    {{#each columns as |column|}}
      {{ebc-column
        column=column
        categories=categories
        boardActions=boardActions
      }}
    {{/each}}
  </div>
{{/unless}}