{{#each categories as |category|}}
  {{ebc-category
    category=category
    boardActions=boardActions
  }}
{{/each}}

<div class="ebc-columns-container">
  {{#each columns as |column|}}
    {{ebc-column
      column=column
      boardActions=boardActions
    }}
  {{/each}}
</div>
