{{#each board.categories as |category|}}
  {{ebc-category
    category=category
    classNames=category.classNames
    boardActions=boardActions
  }}
{{/each}}

{{#unless board.loading}}
  <div class="ebc-columns-container">
    {{#each board.columns as |column|}}
      {{ebc-column
        column=column
        classNames=category.classNames
        board=board
        boardActions=boardActions
      }}
    {{/each}}
  </div>
{{/unless}}
